body{
font-family: Georgia, 'Times New Roman', Times, serif;
*margin: 0%;
padding: 0%;
background-color: aquamarine;
}

/* FIRST DIV*/
    span {
     
      display: block;
    background-color: whitesmoke;
    float: left;

      }

  nav{
  font-size: 20px;
  display:block;
  padding:10px;
  float: right;
  background-color: navy;
  }

    
      a{
        padding: 30px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
 
      }


          a:hover{
            background-color:gold;
            color: blueviolet;
            cursor: pointer;

          }

 .active{
background-color: whitesmoke;
color: black;

}   


/* Later on in life...i.e after this project , find out how to merge a nav bar and a logo together*/