body{
font-family: Georgia, 'Times New Roman', Times, serif;
*margin: 0%;
padding: 0%;
background-color: rgb(74, 18, 228);
}


 div{
  
 } 


.navbar span {
  padding:40px;
      display: block;
    background-color: whitesmoke;
    float: left;

}

  nav{
  font-size: 20px;
  display:block;
  padding:40px;
  float: right;
  background-color: navy;
  
  }

    
      a{
        padding: 30px;
        color: black;
        text-decoration: none;
        border-radius: 5px;
 
      }


          a:hover{
            background-color:black;
            color: blueviolet;
            cursor: pointer;

          }

 .active{
background-color: aqua;
color: white;

}   


/* Later on in life...i.e after this project , find out how to merge a nav bar and a logo together*/