body{
font-family: Georgia, 'Times New Roman', Times, serif;
/*margin: 0%;
padding: 0%;*/
background-color: aquamarine;
}

/* FIRST DIV*/
    span {
      padding: 40px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    background-color: whitesmoke;
    float: left;
      }





/* this is where I write about the second div*/



  nav{
  font-size: 20px;
  display:inline;
  padding:10px;
  float: right;
  
  }

    
      a{
        padding: 30px;
        background-color: navy;
        color: white;
        text-decoration: none;
        border-radius: 5cm;
       
 
      }


          a:hover{
            background-color:whitesmoke;
            color: black;
            cursor: pointer;

          }

 .active{
background-color: gold;
color: blueviolet;

}   


/* Later on in life...i.e after this project , find out how to merge a nav bar and a logo together*/